@font-face {
    font-family: 'Thmanyah Serif Display';
    src: url('https://cdn.jsdelivr.net/gh/majesticluxsa-sys/thmanyah-font@main/thmanyahseriftext-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Thmanyah Serif Display';
    src: url('https://cdn.jsdelivr.net/gh/majesticluxsa-sys/thmanyah-font@main/thmanyahseriftext-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Thmanyah Serif Display';
    src: url('https://cdn.jsdelivr.net/gh/majesticluxsa-sys/thmanyah-font@main/thmanyahseriftext-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Thmanyah Serif Display';
    src: url('https://cdn.jsdelivr.net/gh/majesticluxsa-sys/thmanyah-font@main/thmanyahseriftext-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Thmanyah Serif Display';
    src: url('https://cdn.jsdelivr.net/gh/majesticluxsa-sys/thmanyah-font@main/thmanyahseriftext-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
